Application Record Creation Routine.ipynb
/Archive/
careerswebsitelinks.xlsx
careerswebsitelinks2.xlsx
/Dataframes (Old Format 2022 01 20)/
/Dataframes (Old Format 2022 02 07)/
/Dataframes/
temp.xlsx
personal-details-record-creation-routine.txt
debugging-guidelines.txt
run.py
/__pycache__/
